      <div class="container pt-26 md:pt-30 mx-auto flex justify-center">
        <div class="flex flex-col w-full xl:w-3/5 justify-center lg:items-start overflow-y-hidden">
          <h1 class="my-4 text-3xl md:text-6xl text-white opacity-75 font-bold leading-tight text-center md:text-left">
            Where is
            <span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500">
              my site
            </span>
            indexed?
          </h1>
          <p class="leading-normal text-base md:text-2xl mb-8 text-center md:text-left">
            We search in the biggest search engines.
          </p>
          <div class="bg-gray-900 opacity-75 w-full shadow-lg rounded-lg px-8 pt-6 pb-8 mb-4">
          <%= form_with url: "/search", method: :get do |form| %>
            <div class="mb-4">
              <%= form.label :url, "Enter your site url here:", class: "block text-blue-300 py-2 font-bold mb-2" %>
              <%= form.text_field :url, class: "shadow appearance-none border rounded w-full p-3 text-gray-700 leading-tight focus:ring transform transition hover:scale-105 duration-300 ease-in-out", placeholder: "https://a-chacon.com" %>
            </div>
            <div class="flex items-center justify-between pt-4">
              <%= form.submit "Search", class: "bg-gradient-to-r from-purple-800 to-green-500 hover:from-pink-500 hover:to-green-500 text-white font-bold py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out" %>
            </div>
          <% end %>
        </div>
        </div>
        </div>
